[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Netctl Rofi
GenericName=Menü an Netzwerkprofilen
Comment=
Exec=~/dotfiles/menu/rofi-netctl
Icon=network-wireless
Terminal=false
Type=Application
Categories=
MimeType=
