# ignore all backups
*~
# ignore swap files
.*.swp
# ignore some special annoying files
config/zathura/bookmarks

config/qutebrowser/bookmarks/
config/qutebrowser/quickmarks
config/qutebrowser/qsettings/
