
.client-decoration.regular {
    background-color: #343434;
    outline-width: 1px;
    outline-style: solid;
    outline-color: #2B2B2B;
    margin: 1px; /* make outline visible */
    border: 1px solid #494949;
}

.client-decoration.regular.focus {
    outline-color: #0b0b0b;
    border-color: #5b5b5b;
}

.client-decoration.regular .tab {
    margin: 3px;
    margin-bottom: 0px;
    padding: 0px 2px;
    color: white;
    text-align: center;
}

.client-decoration.regular .tabs .tab {
    border-width: 2px 0px;
    outline-width: 2px 0px;
    margin: 2px 0px;
    padding-top: -4px;
    padding-bottom: -2px;
    outline-style: solid;
    /* gradient for the poor: */
    outline-top-color: #2d2d2d;
    border-top-color: #303030;
    border-bottom-color: #363636;
    outline-bottom-color: #383838;
}

.client-decoration.regular .tab + .tab {
    border-left: 1px solid #494949;
}

.client-decoration.regular.focus .tab.focus + .tab ,
.client-decoration.regular.focus .tab + .tab.focus {
    border-left-color: #dedede;
}


.client-decoration.regular.focus .tab.focus {
    /* gradient for the poor: */
    outline-top-color: #51693A;
    border-top-color: #57703E;
    background-color: #5D7842;
    border-bottom-color: #617D45;
    outline-bottom-color: #658248;
}

.client-decoration.regular.focus {
    outline-color: #333E27;
    border-color: #94A683;
}

.client-decoration.regular.focus .tab.focus {
    /* font: Dejavu Sans:pixelsize=12:bold; */
    color: #f8f8f8;
}

.client-decoration.regular .tab.urgent {
    color: #FF6F6F;
}

.client-decoration.regular .client-content {
    border-top: 1px solid #494949;
}

/* .client-decoration.regular.focus .client-content {
    border-top: 1px solid #94A683;
} */

/** hide decoration for minimal and fullscreen clients */
.client-decoration.minimal .panel ,
.client-decoration.fullscreen .panel {
    display: none;
}

.client-decoration.minimal ,
.client-decoration.fullscreen ,
.client-decoration.fullscreen > * {
    border-width: 0px;
    background-color: black;
    padding: 0px;
    margin: 0px;
}



* {
    /* font: -*-fixed-medium-r-*-*-13-*-*-*-*-*-*-*; */
    font: Dejavu Sans:pixelsize=12;
}

